@import "~styles/variables";

.message {
  $self: &;

  &__content {
    position: relative;
    display: flex;
    max-width: 440px;
    margin-bottom: 15px;
  }

  &__avatar {
    display: flex;
    flex-direction: column-reverse;

    img {
      border-radius: 50%;
      width: 33px;
      height: 33px;
      margin-right: 13px;
      margin-bottom: 5px;
      object-fit: cover;
    }

  }

  &__bubble {
    background: $blue;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
    border-radius: 12px 12px 12px 0px;
    padding: 15px;
    margin-bottom: 8px;
  }

  &__date {
    font-size: 12px;
    opacity: .5;
  }

  &__text {
    color: #FFFFFF;
    line-height: 20px;
  }

  &__attachments {
    display: flex;
    margin-bottom: 5px;

    &-item {
      margin-right: 5px;
      cursor: pointer;

      img {
        width: 45px;
        height: 45px;
        border-radius: 8px;
      }
    }
  }

  &__icon-readed {
    position: absolute;
    bottom: 20px;
    left: -25px;
  }

  &--isme {
    display: flex;
    flex-direction: row-reverse;

    #{$self}__avatar {
      img {
        margin-right: 0;
        margin-left: 13px;
      }
    }

    #{$self}__content {
      margin-bottom: 15px;
      flex-direction: row-reverse;
    }

    #{$self}__date {
      display: flex;
      flex-direction: row-reverse;

    }

    #{$self}__bubble {
      background: #FFFFFF;
      border: 1px solid #ECECEC;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.0220444);
      border-radius: 12px 12px 0 12px;
    }

    #{$self}__text {
      color: $black;
    }

  }


  &--is-typing {
    #{$self}__bubble {
      background: $message-typing-blue;
      box-shadow: 0 5px 5px rgba(54, 116, 255, 0.04);

    }
  }

  &--image {
    #{$self}__attachments {
      &-item {
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  &__typing {
    span {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: $message-typing-circle;
      display: inline-block;
      margin-right: 8px;
      animation: 0.8s typingAnimation infinite ease-out 0.1s;

      &:nth-of-type(2) {
        animation: 0.8s typingAnimation infinite ease-out 0.2s;
      }

      &:nth-of-type(3) {
        animation: 0.8s typingAnimation infinite ease-out 0.3s;
        margin-right: 0;
      }
    }
  }

  &--is-audio {
    #{$self}__bubble {
      width: 280px;
      position: relative;
      overflow: hidden;
    }

    #{$self}__audio {
      audio {
        display: none;
      }

      &-progress {
        position: absolute;
        background: #418FFF;
        height: 100%;
        top: 0;
        left: 0;
      }

      &-info {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &-duration {
        font-weight: 500;
        font-size: 12px;
        color: #FFFFFF;
        opacity: 0.5;
      }

      &-btn {
        button {
          cursor: pointer;
          border: none;
          background: #0F3997;
          width: 28px;
          height: 28px;
          border-radius: 30px;
        }
      }
    }
  }
}

@keyframes typingAnimation {
  from {
    opacity: 0.2;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-1.5px);
  }
  to {
    opacity: 1;
    transform: translateY(-1px);
  }
}